openapi: 3.0.1
info:
  contact:
    email: support@costgraph.ai
    name: Customer Support
    url: https://costgraph.ai/support
  description: Provides API level access to the Costgraph Services.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://costgraph.ai/terms-of-use
  title: Pricing API
  version: "1.0"
servers:
- url: https://pricing.baselinehq.cloud/
paths:
  /healthz:
    get:
      deprecated: true
      description: |-
        Health check endpoint
        Superseded by GET /v1/healthz.
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: Health check response
      summary: Health check endpoint
  /marketplace/providers/compute:
    delete:
      deprecated: true
      description: |-
        Delete one of your compute rates by id.
        A rate a resource is already priced against cannot be deleted; the request fails while that link exists, so re-pin those resources first.
        Once it is gone, a resource still carrying its id stops resolving a price rather than falling back to attribute matching.
        Superseded by DELETE /v1/marketplace/compute/{id}, which returns RFC 9457 problem responses on failure.
      parameters:
      - description: Instance ID
        in: query
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisteredComputePrices"
          description: Pricing response for a custom provider
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid id
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Provider and organization do not match
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Instance not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Delete a custom provider instance
    get:
      deprecated: true
      description: |-
        List the compute rates your organization has registered. Only your own rates are returned, never another organization's.
        Filters combine, and paging is by limit and offset.
        Superseded by GET /v1/marketplace/compute, which returns RFC 9457 problem responses on failure.
      parameters:
      - description: Maximum entries to return (default 500)
        in: query
        name: limit
        schema:
          type: integer
      - description: Entries to skip
        in: query
        name: offset
        schema:
          type: integer
      - description: Filter by service
        in: query
        name: service
        schema:
          type: string
      - description: Filter by region
        in: query
        name: region
        schema:
          type: string
      - description: Filter by instance type
        in: query
        name: instance_type
        schema:
          type: string
      - description: Filter by usage type
        in: query
        name: usage_type
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputePriceList"
          description: Pricing response for custom pricing
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid limit or offset
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Get your custom pricing entries
    post:
      deprecated: true
      description: |-
        Register your own compute rates so CostGraph can price machines it has no public price for, such as bare metal or a private cloud.
        An entry is upserted on its natural key (provider, service, region, availability zone, usage type, instance type, operating system and period billing hours), so re-posting the same entry with a new cost keeps its id and reprices everything already using it. Changing any key field mints a new id, because it describes a different SKU.
        The returned id is what you attach to a resource with the `costgraph.ai/pricing-id.compute` label or tag. Treat it as a secret you hand out deliberately: anyone holding it can pin to the rate, which is how a provider prices clusters it sells on.
        Superseded by POST /v1/marketplace/compute, which returns RFC 9457 problem responses on failure.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComputePricesRequest"
        description: Custom pricing request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisteredComputePrices"
          description: Pricing response for a custom provider
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid request body
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Provider and organization do not match
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Register a custom provider
      x-codegen-request-body-name: instance
  /marketplace/providers/databases:
    delete:
      deprecated: true
      description: |-
        Delete one of your managed database rates by id.
        A rate a database or one of its reports still references cannot be deleted; the request fails while that reference exists, so re-pin first.
        Once it is gone, a database still carrying its id stops resolving a price.
        Superseded by DELETE /v1/marketplace/databases/{id}, which returns RFC 9457 problem responses on failure.
      parameters:
      - description: Database pricing ID
        in: query
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisteredDatabasePrices"
          description: Pricing response for custom database pricing
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid id
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Provider and organization do not match
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Database pricing entry not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Delete a custom database pricing entry
    get:
      deprecated: true
      description: |-
        List the managed database rates your organization has registered. Only your own rates are returned.
        Filters combine, and paging is by limit and offset.
        Superseded by GET /v1/marketplace/databases, which returns RFC 9457 problem responses on failure.
      parameters:
      - description: Maximum entries to return (default 500)
        in: query
        name: limit
        schema:
          type: integer
      - description: Entries to skip
        in: query
        name: offset
        schema:
          type: integer
      - description: Filter by service
        in: query
        name: service
        schema:
          type: string
      - description: Filter by region
        in: query
        name: region
        schema:
          type: string
      - description: Filter by engine
        in: query
        name: engine
        schema:
          type: string
      - description: Filter by edition
        in: query
        name: edition
        schema:
          type: string
      - description: Filter by instance type
        in: query
        name: instance_type
        schema:
          type: string
      - description: Filter by usage type
        in: query
        name: usage_type
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatabasePriceList"
          description: Pricing response for custom database pricing
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid limit or offset
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Get your custom database pricing entries
    post:
      deprecated: true
      description: |-
        Register your own managed database rates, keyed by engine, edition, deployment option, storage type and instance type alongside the usual provider, service and region.
        An entry is upserted on the full natural key (provider, service, region, availability zone, usage type, engine, edition, deployment option, billing config, storage type, instance type, architecture and period billing hours), so re-posting with a new cost keeps its id; changing any key field mints a new one.
        The returned id is what you attach with the `costgraph.ai/pricing-id.database` label or tag.
        Superseded by POST /v1/marketplace/databases, which returns RFC 9457 problem responses on failure.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DatabasePricesRequest"
        description: Custom database pricing request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisteredDatabasePrices"
          description: Pricing response for custom database pricing
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid request body
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Provider and organization do not match
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Register custom database pricing
      x-codegen-request-body-name: instance
  /marketplace/providers/disks:
    delete:
      deprecated: true
      description: |-
        Delete one of your storage rates by id.
        A rate a volume is already priced against cannot be deleted; the request fails while that link exists, so re-pin those volumes first.
        Once it is gone, a volume still carrying its id stops resolving a price.
        Superseded by DELETE /v1/marketplace/disks/{id}, which returns RFC 9457 problem responses on failure.
      parameters:
      - description: Disk pricing ID
        in: query
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisteredDiskPrices"
          description: Pricing response for a custom disk provider
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid id
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Provider and organization do not match
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Disk pricing entry not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Delete a custom disk provider entry
    get:
      deprecated: true
      description: |-
        List the storage rates your organization has registered. Only your own rates are returned.
        Filters combine, and paging is by limit and offset.
        Superseded by GET /v1/marketplace/disks, which returns RFC 9457 problem responses on failure.
      parameters:
      - description: Maximum entries to return (default 500)
        in: query
        name: limit
        schema:
          type: integer
      - description: Entries to skip
        in: query
        name: offset
        schema:
          type: integer
      - description: Filter by service
        in: query
        name: service
        schema:
          type: string
      - description: Filter by region
        in: query
        name: region
        schema:
          type: string
      - description: Filter by disk type
        in: query
        name: type
        schema:
          type: string
      - description: Filter by usage type
        in: query
        name: usage_type
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskPriceList"
          description: Pricing response for custom disk pricing
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid limit or offset
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Get your custom disk pricing entries
    post:
      deprecated: true
      description: |-
        Register your own storage rates, priced per GB hour with optional IOPS and throughput components and the capacity band they apply to.
        An entry is upserted on its natural key (provider, service, region, availability zone, disk type, usage type and period billing hours), so re-posting with a new cost keeps its id; changing a key field mints a new one.
        Capacity, IOPS and throughput bands are not part of that key, so a second band for the same disk type replaces the first: give each band its own usage type.
        The returned id is what you attach with the `costgraph.ai/pricing-id.storage` label or tag.
        Superseded by POST /v1/marketplace/disks, which returns RFC 9457 problem responses on failure.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiskPricesRequest"
        description: Custom disk pricing request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisteredDiskPrices"
          description: Pricing response for a custom disk provider
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid request body
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Provider and organization do not match
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Register a custom disk provider
      x-codegen-request-body-name: instance
  /marketplace/providers/models:
    delete:
      deprecated: true
      description: |-
        Delete one of your model rates by id. The row is closed rather than removed, so spend already priced against it keeps that rate.
        Usage still pinned to it stops resolving a price, so re-pin before deleting.
        Superseded by DELETE /v1/marketplace/models/{id}, which returns RFC 9457 problem responses on failure.
      parameters:
      - description: Model pricing ID
        in: query
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisteredModelPrices"
          description: Pricing response for custom model pricing
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid id
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Host and organization do not match
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Model pricing entry not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Delete a custom model pricing entry
    get:
      deprecated: true
      description: |-
        List the live version of each model rate your organization has registered. Only your own rates are returned.
        Filters combine, and paging is by limit and offset.
        Superseded by GET /v1/marketplace/models, which returns RFC 9457 problem responses on failure.
      parameters:
      - description: Maximum entries to return (default 500)
        in: query
        name: limit
        schema:
          type: integer
      - description: Entries to skip
        in: query
        name: offset
        schema:
          type: integer
      - description: Filter by model
        in: query
        name: model
        schema:
          type: string
      - description: Filter by model provider
        in: query
        name: provider
        schema:
          type: string
      - description: Filter by region
        in: query
        name: region
        schema:
          type: string
      - description: Filter by token bucket
        in: query
        name: token_bucket
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelPriceList"
          description: Pricing response for custom model pricing
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid limit or offset
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Get your custom model pricing entries
    post:
      deprecated: true
      description: |-
        Register custom token pricing for models you host. Entries are versioned: a price change closes the current row and opens a new one, so historic spend keeps the rate it was billed at.
        The returned id is what you attach with the `costgraph.ai/pricing-id.model` label or tag. Each version carries its own id, so read the live entry back after a price change instead of holding on to an earlier one.
        Superseded by POST /v1/marketplace/models, which returns RFC 9457 problem responses on failure.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModelPricesRequest"
        description: Custom model pricing request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisteredModelPrices"
          description: Pricing response for custom model pricing
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid request body
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Host and organization do not match
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Register custom model pricing
      x-codegen-request-body-name: instance
  /pricing:
    post:
      deprecated: true
      description: |-
        Get pricing for compute instances
        Superseded by POST /v1/pricing/compute, which returns RFC 9457 problem responses on failure.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Instance"
        description: Instance
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputePrice"
          description: Pricing for a given instance
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid request body
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Pricing not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Get pricing for an instance
      x-codegen-request-body-name: instance
  /pricing/compute:
    post:
      deprecated: true
      description: |-
        Get pricing for compute instances
        Superseded by POST /v1/pricing/compute, which returns RFC 9457 problem responses on failure.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Instance"
        description: Instance
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputePrice"
          description: Pricing for a given instance
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid request body
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Pricing not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Get pricing for an instance
      x-codegen-request-body-name: instance
  /pricing/disks:
    post:
      deprecated: true
      description: |-
        Get pricing for a disk
        Superseded by POST /v1/pricing/disks, which returns RFC 9457 problem responses on failure.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Disk"
        description: Disk
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskPrice"
          description: Pricing for a given disk
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid request body
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Pricing not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Get pricing for a disk
      x-codegen-request-body-name: instance
  /providers:
    get:
      deprecated: true
      description: |-
        Get details for the providers
        Superseded by GET /v1/providers, which returns RFC 9457 problem responses on failure.
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderConfigs"
          description: List of providers
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Get details for the providers
  /recommendations:
    post:
      deprecated: true
      description: |-
        Get the cheapest compute candidate per provider with savings versus the requested instance
        Superseded by POST /v1/recommendations/compute, which returns RFC 9457 problem responses on failure.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComputeRecommendationRequest"
        description: Instance
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ComputeRecommendation"
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid request body
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Get recommendations for compute instances
      x-codegen-request-body-name: instance
  /recommendations/compute:
    post:
      deprecated: true
      description: |-
        Get the cheapest compute candidate per provider with savings versus the requested instance
        Superseded by POST /v1/recommendations/compute, which returns RFC 9457 problem responses on failure.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComputeRecommendationRequest"
        description: Instance
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ComputeRecommendation"
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid request body
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Get recommendations for compute instances
      x-codegen-request-body-name: instance
  /recommendations/disks:
    post:
      deprecated: true
      description: |-
        Get the cheapest disk candidate per provider with savings versus the requested disk
        Superseded by POST /v1/recommendations/disks, which returns RFC 9457 problem responses on failure.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiskRecommendationRequest"
        description: Instance
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/DiskRecommendation"
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid request body
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Not found
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Get recommendations for disks
      x-codegen-request-body-name: instance
  /v1/healthz:
    get:
      description: Report that the pricing service is accepting requests. No credential
        is required.
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: The service is live
      summary: Check the service is live
      tags:
      - service
  /v1/marketplace/compute:
    get:
      description: |-
        List the compute rates your organization has published. Only your own rates are returned, never another organization's.
        Filters combine, and paging is by limit and an opaque cursor carried in the page of the previous response.
      parameters:
      - description: Maximum prices to return (default 500)
        in: query
        name: limit
        schema:
          type: integer
      - description: Cursor from the previous page
        in: query
        name: cursor
        schema:
          type: string
      - description: Filter by service
        in: query
        name: service
        schema:
          type: string
      - description: Filter by region
        in: query
        name: region
        schema:
          type: string
      - description: Filter by instance type
        in: query
        name: instance_type
        schema:
          type: string
      - description: Filter by usage type
        in: query
        name: usage_type
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputePricePage"
          description: A page of your prices
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: List your compute prices
      tags:
      - marketplace
    post:
      description: |-
        Register your own compute rates so CostGraph can price machines it has no public price for, such as bare metal or a private cloud.
        An entry is upserted on its natural key (provider, service, region, availability zone, usage type, instance type, operating system and period billing hours), so re-posting the same entry with a new cost keeps its id and reprices everything already using it. Changing any key field mints a new id, because it describes a different SKU.
        The returned id is what you attach to a resource with the `costgraph.ai/pricing-id.compute` label or tag.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComputePricesRequest"
        description: Prices to publish
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublishedComputePrices"
          description: The published prices
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Publish compute prices
      tags:
      - marketplace
      x-codegen-request-body-name: body
  /v1/marketplace/compute/{id}:
    delete:
      description: |-
        Delete a compute price you have published, by its id.
        Usage still pinned to it stops resolving a price, so re-pin before deleting.
      parameters:
      - description: Price id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The price was deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Delete one compute price
      tags:
      - marketplace
    get:
      description: |-
        Read a single compute rate your organization has published, by its id.
        A price belonging to another organization is not visible and reads as not found.
      parameters:
      - description: Price id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputePrice"
          description: The price
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Read one compute price
      tags:
      - marketplace
    patch:
      description: |-
        Change the rate or the descriptive fields of a compute price you have published. Send only the fields you want to change.
        The fields that identify the price cannot be changed, because they describe a different SKU; delete the price and register a new one instead.
      parameters:
      - description: Price id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: true
              type: object
        description: Fields to change
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputePrice"
          description: The changed price
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Change one compute price
      tags:
      - marketplace
      x-codegen-request-body-name: body
  /v1/marketplace/databases:
    get:
      description: |-
        List the database rates your organization has published. Only your own rates are returned, never another organization's.
        Filters combine, and paging is by limit and an opaque cursor carried in the page of the previous response.
      parameters:
      - description: Maximum prices to return (default 500)
        in: query
        name: limit
        schema:
          type: integer
      - description: Cursor from the previous page
        in: query
        name: cursor
        schema:
          type: string
      - description: Filter by service
        in: query
        name: service
        schema:
          type: string
      - description: Filter by region
        in: query
        name: region
        schema:
          type: string
      - description: Filter by engine
        in: query
        name: engine
        schema:
          type: string
      - description: Filter by edition
        in: query
        name: edition
        schema:
          type: string
      - description: Filter by instance type
        in: query
        name: instance_type
        schema:
          type: string
      - description: Filter by usage type
        in: query
        name: usage_type
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatabasePricePage"
          description: A page of your prices
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: List your database prices
      tags:
      - marketplace
    post:
      description: |-
        Register your own managed database rates so CostGraph can price clusters it has no public price for.
        An entry is upserted on its natural key (provider, service, region, engine, edition, instance type and usage type), so re-posting the same entry with a new cost keeps its id and reprices everything already using it.
        The returned id is what you attach to a database with the `costgraph.ai/pricing-id.database` label or tag.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DatabasePricesRequest"
        description: Prices to publish
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublishedDatabasePrices"
          description: The published prices
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Publish database prices
      tags:
      - marketplace
      x-codegen-request-body-name: body
  /v1/marketplace/databases/{id}:
    delete:
      description: |-
        Delete a database price you have published, by its id.
        Usage still pinned to it stops resolving a price, so re-pin before deleting.
      parameters:
      - description: Price id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The price was deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Delete one database price
      tags:
      - marketplace
    get:
      description: |-
        Read a single database rate your organization has published, by its id.
        A price belonging to another organization is not visible and reads as not found.
      parameters:
      - description: Price id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatabasePrice"
          description: The price
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Read one database price
      tags:
      - marketplace
    patch:
      description: |-
        Change the rate or the descriptive fields of a database price you have published. Send only the fields you want to change.
        The fields that identify the price cannot be changed, because they describe a different SKU; delete the price and register a new one instead.
      parameters:
      - description: Price id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: true
              type: object
        description: Fields to change
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatabasePrice"
          description: The changed price
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Change one database price
      tags:
      - marketplace
      x-codegen-request-body-name: body
  /v1/marketplace/disks:
    get:
      description: |-
        List the disk rates your organization has published. Only your own rates are returned, never another organization's.
        Filters combine, and paging is by limit and an opaque cursor carried in the page of the previous response.
      parameters:
      - description: Maximum prices to return (default 500)
        in: query
        name: limit
        schema:
          type: integer
      - description: Cursor from the previous page
        in: query
        name: cursor
        schema:
          type: string
      - description: Filter by service
        in: query
        name: service
        schema:
          type: string
      - description: Filter by region
        in: query
        name: region
        schema:
          type: string
      - description: Filter by disk type
        in: query
        name: type
        schema:
          type: string
      - description: Filter by usage type
        in: query
        name: usage_type
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskPricePage"
          description: A page of your prices
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: List your disk prices
      tags:
      - marketplace
    post:
      description: |-
        Register your own block storage rates so CostGraph can price volumes it has no public price for.
        An entry is upserted on its natural key (provider, service, region, availability zone, usage type, type and period billing hours), so re-posting the same entry with a new cost keeps its id and reprices everything already using it.
        The returned id is what you attach to a volume with the `costgraph.ai/pricing-id.disk` label or tag.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiskPricesRequest"
        description: Prices to publish
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublishedDiskPrices"
          description: The published prices
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Publish disk prices
      tags:
      - marketplace
      x-codegen-request-body-name: body
  /v1/marketplace/disks/{id}:
    delete:
      description: |-
        Delete a disk price you have published, by its id.
        Usage still pinned to it stops resolving a price, so re-pin before deleting.
      parameters:
      - description: Price id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The price was deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Delete one disk price
      tags:
      - marketplace
    get:
      description: |-
        Read a single disk rate your organization has published, by its id.
        A price belonging to another organization is not visible and reads as not found.
      parameters:
      - description: Price id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskPrice"
          description: The price
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Read one disk price
      tags:
      - marketplace
    patch:
      description: |-
        Change the rate or the descriptive fields of a disk price you have published. Send only the fields you want to change.
        The fields that identify the price cannot be changed, because they describe a different SKU; delete the price and register a new one instead.
      parameters:
      - description: Price id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: true
              type: object
        description: Fields to change
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskPrice"
          description: The changed price
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Change one disk price
      tags:
      - marketplace
      x-codegen-request-body-name: body
  /v1/marketplace/filters/{kind}:
    get:
      description: "The query parameters you can filter this kind of price by. They\
        \ differ by kind because the fields that identify a price differ: compute\
        \ prices carry an instance type, disk prices a disk type, database prices\
        \ an engine."
      parameters:
      - description: Price kind
        in: path
        name: kind
        required: true
        schema:
          enum:
          - compute
          - disks
          - databases
          - models
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FilterSet"
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Not Found
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: List the filters a price kind accepts
      tags:
      - marketplace
  /v1/marketplace/models:
    get:
      description: |-
        List the model rates your organization has published. Only your own rates are returned, never another organization's.
        Filters combine, and paging is by limit and an opaque cursor carried in the page of the previous response.
      parameters:
      - description: Maximum prices to return (default 500)
        in: query
        name: limit
        schema:
          type: integer
      - description: Cursor from the previous page
        in: query
        name: cursor
        schema:
          type: string
      - description: Filter by model
        in: query
        name: model
        schema:
          type: string
      - description: Filter by model provider
        in: query
        name: provider
        schema:
          type: string
      - description: Filter by region
        in: query
        name: region
        schema:
          type: string
      - description: Filter by token bucket
        in: query
        name: token_bucket
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelPricePage"
          description: A page of your prices
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: List your model prices
      tags:
      - marketplace
    post:
      description: |-
        Register your own token rates for models you host, so CostGraph can price calls it has no public rate for.
        Entries are versioned: a price change closes the current row and opens a new one, so spend already recorded keeps the rate it was billed at.
        The returned id is what you attach with the `costgraph.ai/pricing-id.model` label or tag. Each version carries its own id, so read the live entry back after a price change.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModelPricesRequest"
        description: Prices to publish
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublishedModelPrices"
          description: The published prices
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Publish model prices
      tags:
      - marketplace
      x-codegen-request-body-name: body
  /v1/marketplace/models/{id}:
    delete:
      description: |-
        Delete a model price you have published, by its id.
        Usage still pinned to it stops resolving a price, so re-pin before deleting.
      parameters:
      - description: Price id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "204":
          content: {}
          description: The price was deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Delete one model price
      tags:
      - marketplace
    get:
      description: |-
        Read a single model rate your organization has published, by its id.
        A price belonging to another organization is not visible and reads as not found.
      parameters:
      - description: Price id
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelPrice"
          description: The price
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Read one model price
      tags:
      - marketplace
    patch:
      description: |-
        Change the rate or the descriptive fields of a model price you have published. Send only the fields you want to change.
        The fields that identify the price cannot be changed, because they describe a different SKU; delete the price and register a new one instead.
      parameters:
      - description: Price id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: true
              type: object
        description: Fields to change
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelPrice"
          description: The changed price
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Not Found
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unprocessable Entity
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal Server Error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Change one model price
      tags:
      - marketplace
      x-codegen-request-body-name: body
  /v1/pricing/compute:
    post:
      description: |-
        Resolve the hourly rate CostGraph would bill for a machine with the given shape, in the given region and usage type.
        Prices you have published for the machine's provider are preferred over the public catalogue.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Instance"
        description: Machine to price
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputePrice"
          description: The resolved price
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Invalid request body
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: No price matches the machine
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Validation failed
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Price a machine
      tags:
      - pricing
      x-codegen-request-body-name: instance
  /v1/pricing/disks:
    post:
      description: |-
        Resolve the rate CostGraph would bill for a block volume of the given type and capacity, in the given region.
        Prices you have published for the volume's provider are preferred over the public catalogue.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Disk"
        description: Volume to price
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiskPrice"
          description: The resolved price
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Invalid request body
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: No price matches the volume
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Validation failed
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Price a volume
      tags:
      - pricing
      x-codegen-request-body-name: instance
  /v1/providers:
    get:
      description: "Return every provider the pricing catalogue covers, with the filter\
        \ values each one accepts."
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProviderConfigs"
          description: The providers CostGraph prices
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthenticated
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: List the providers CostGraph prices
      tags:
      - providers
  /v1/recommendations/compute:
    post:
      description: "Return the cheapest machine per provider that still meets the\
        \ requested shape, with the saving against the machine you asked about."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ComputeRecommendationRequest"
        description: Machine to improve on
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/ComputeRecommendation"
                type: array
          description: The cheapest candidate per provider
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Invalid request body
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: No candidate matches the machine
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Validation failed
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Find cheaper machines
      tags:
      - recommendations
      x-codegen-request-body-name: instance
  /v1/recommendations/disks:
    post:
      description: "Return the cheapest volume per provider that still meets the requested\
        \ capacity and performance, with the saving against the volume you asked about."
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiskRecommendationRequest"
        description: Volume to improve on
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/DiskRecommendation"
                type: array
          description: The cheapest candidate per provider
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Invalid request body
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Unauthenticated
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: No candidate matches the volume
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Validation failed
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: Internal server error
      security:
      - ApiKeyAuth: []
      - BearerAuth: []
      summary: Find cheaper volumes
      tags:
      - recommendations
      x-codegen-request-body-name: instance
components:
  schemas:
    ComputePrice:
      example:
        architecture: architecture
        availability_zone: availability_zone
        cost_per_hour: 0.8008281904610115
        cpu_cores: 6.027456183070403
        cpu_cores_cost_per_hour: 1.4658129805029452
        created_at: created_at
        currency: currency
        gpu_cost_per_hour: 5.962133916683182
        gpu_count: 5.637376656633329
        gpu_type: gpu_type
        id: id
        instance_type: instance_type
        native_cost_per_hour: 2.3021358869347655
        operating_system: operating_system
        period_billing_hours: 7.061401241503109
        provider: provider
        ram_gb: 9.301444243932576
        ram_gb_cost_per_hour: 3.616076749251911
        raw_pricing_data: "{}"
        region: region
        service: service
        tags: "{}"
        updated_at: updated_at
        usage_type: usage_type
      properties:
        architecture:
          type: string
        availability_zone:
          type: string
        cost_per_hour:
          type: number
        cpu_cores:
          type: number
        cpu_cores_cost_per_hour:
          type: number
        created_at:
          type: string
        currency:
          type: string
        gpu_cost_per_hour:
          type: number
        gpu_count:
          type: number
        gpu_type:
          type: string
        id:
          type: string
        instance_type:
          type: string
        native_cost_per_hour:
          type: number
        operating_system:
          type: string
        period_billing_hours:
          type: number
        provider:
          type: string
        ram_gb:
          type: number
        ram_gb_cost_per_hour:
          type: number
        raw_pricing_data:
          properties: {}
          type: object
        region:
          type: string
        service:
          type: string
        tags:
          properties: {}
          type: object
        updated_at:
          type: string
        usage_type:
          type: string
      type: object
    ComputePriceList:
      example:
        providers:
        - architecture: architecture
          availability_zone: availability_zone
          cost_per_hour: 0.8008281904610115
          cpu_cores: 6.027456183070403
          cpu_cores_cost_per_hour: 1.4658129805029452
          created_at: created_at
          currency: currency
          gpu_cost_per_hour: 5.962133916683182
          gpu_count: 5.637376656633329
          gpu_type: gpu_type
          id: id
          instance_type: instance_type
          native_cost_per_hour: 2.3021358869347655
          operating_system: operating_system
          period_billing_hours: 7.061401241503109
          provider: provider
          ram_gb: 9.301444243932576
          ram_gb_cost_per_hour: 3.616076749251911
          raw_pricing_data: "{}"
          region: region
          service: service
          tags: "{}"
          updated_at: updated_at
          usage_type: usage_type
        - architecture: architecture
          availability_zone: availability_zone
          cost_per_hour: 0.8008281904610115
          cpu_cores: 6.027456183070403
          cpu_cores_cost_per_hour: 1.4658129805029452
          created_at: created_at
          currency: currency
          gpu_cost_per_hour: 5.962133916683182
          gpu_count: 5.637376656633329
          gpu_type: gpu_type
          id: id
          instance_type: instance_type
          native_cost_per_hour: 2.3021358869347655
          operating_system: operating_system
          period_billing_hours: 7.061401241503109
          provider: provider
          ram_gb: 9.301444243932576
          ram_gb_cost_per_hour: 3.616076749251911
          raw_pricing_data: "{}"
          region: region
          service: service
          tags: "{}"
          updated_at: updated_at
          usage_type: usage_type
      properties:
        providers:
          items:
            $ref: "#/components/schemas/ComputePrice"
          type: array
      type: object
    ComputePricePage:
      example:
        data:
        - architecture: architecture
          availability_zone: availability_zone
          cost_per_hour: 0.8008281904610115
          cpu_cores: 6.027456183070403
          cpu_cores_cost_per_hour: 1.4658129805029452
          created_at: created_at
          currency: currency
          gpu_cost_per_hour: 5.962133916683182
          gpu_count: 5.637376656633329
          gpu_type: gpu_type
          id: id
          instance_type: instance_type
          native_cost_per_hour: 2.3021358869347655
          operating_system: operating_system
          period_billing_hours: 7.061401241503109
          provider: provider
          ram_gb: 9.301444243932576
          ram_gb_cost_per_hour: 3.616076749251911
          raw_pricing_data: "{}"
          region: region
          service: service
          tags: "{}"
          updated_at: updated_at
          usage_type: usage_type
        - architecture: architecture
          availability_zone: availability_zone
          cost_per_hour: 0.8008281904610115
          cpu_cores: 6.027456183070403
          cpu_cores_cost_per_hour: 1.4658129805029452
          created_at: created_at
          currency: currency
          gpu_cost_per_hour: 5.962133916683182
          gpu_count: 5.637376656633329
          gpu_type: gpu_type
          id: id
          instance_type: instance_type
          native_cost_per_hour: 2.3021358869347655
          operating_system: operating_system
          period_billing_hours: 7.061401241503109
          provider: provider
          ram_gb: 9.301444243932576
          ram_gb_cost_per_hour: 3.616076749251911
          raw_pricing_data: "{}"
          region: region
          service: service
          tags: "{}"
          updated_at: updated_at
          usage_type: usage_type
        page:
          has_more: true
          next_cursor: next_cursor
      properties:
        data:
          items:
            $ref: "#/components/schemas/ComputePrice"
          type: array
        page:
          $ref: "#/components/schemas/Page"
      type: object
    ComputePricesRequest:
      example:
        entries:
        - architecture: architecture
          availability_zone: availability_zone
          cost_per_hour: 0.8008281904610115
          cpu_cores: 6.027456183070403
          cpu_cores_cost_per_hour: 1.4658129805029452
          created_at: created_at
          currency: currency
          gpu_cost_per_hour: 5.962133916683182
          gpu_count: 5.637376656633329
          gpu_type: gpu_type
          id: id
          instance_type: instance_type
          native_cost_per_hour: 2.3021358869347655
          operating_system: operating_system
          period_billing_hours: 7.061401241503109
          provider: provider
          ram_gb: 9.301444243932576
          ram_gb_cost_per_hour: 3.616076749251911
          raw_pricing_data: "{}"
          region: region
          service: service
          tags: "{}"
          updated_at: updated_at
          usage_type: usage_type
        - architecture: architecture
          availability_zone: availability_zone
          cost_per_hour: 0.8008281904610115
          cpu_cores: 6.027456183070403
          cpu_cores_cost_per_hour: 1.4658129805029452
          created_at: created_at
          currency: currency
          gpu_cost_per_hour: 5.962133916683182
          gpu_count: 5.637376656633329
          gpu_type: gpu_type
          id: id
          instance_type: instance_type
          native_cost_per_hour: 2.3021358869347655
          operating_system: operating_system
          period_billing_hours: 7.061401241503109
          provider: provider
          ram_gb: 9.301444243932576
          ram_gb_cost_per_hour: 3.616076749251911
          raw_pricing_data: "{}"
          region: region
          service: service
          tags: "{}"
          updated_at: updated_at
          usage_type: usage_type
      properties:
        entries:
          items:
            $ref: "#/components/schemas/ComputePrice"
          minItems: 1
          type: array
      required:
      - entries
      type: object
    ComputeRecommendation:
      example:
        pricing:
          architecture: architecture
          availability_zone: availability_zone
          cost_per_hour: 0.8008281904610115
          cpu_cores: 6.027456183070403
          cpu_cores_cost_per_hour: 1.4658129805029452
          created_at: created_at
          currency: currency
          gpu_cost_per_hour: 5.962133916683182
          gpu_count: 5.637376656633329
          gpu_type: gpu_type
          id: id
          instance_type: instance_type
          native_cost_per_hour: 2.3021358869347655
          operating_system: operating_system
          period_billing_hours: 7.061401241503109
          provider: provider
          ram_gb: 9.301444243932576
          ram_gb_cost_per_hour: 3.616076749251911
          raw_pricing_data: "{}"
          region: region
          service: service
          tags: "{}"
          updated_at: updated_at
          usage_type: usage_type
        savings:
          amount_per_hour: 0.8008281904610115
          amount_per_month: 6.027456183070403
          amount_per_year: 1.4658129805029452
          percentage: 5.962133916683182
      properties:
        pricing:
          $ref: "#/components/schemas/ComputePrice"
        savings:
          $ref: "#/components/schemas/types.Savings"
      type: object
    ComputeRecommendationRequest:
      example:
        include_metadata: true
        instance:
          availability_zone: availability_zone
          fallback_to_base_pricing: true
          id: id
          instance_type: instance_type
          operating_system: operating_system
          provider: GCP
          region: region
          service: ComputeEngine
          usage_type: SPOT_PREEMPTIBLE
          vm:
            cpu_cores: 0.8008281904610115
            ram_gb: 6.027456183070403
        predicates:
          availability_zones:
          - availability_zones
          - availability_zones
          disk_types:
          - disk_types
          - disk_types
          instance_types:
          - instance_types
          - instance_types
          operating_systems:
          - operating_systems
          - operating_systems
          providers:
          - providers
          - providers
          regions:
          - regions
          - regions
          services:
          - services
          - services
          usage_types:
          - usage_types
          - usage_types
        usage:
          cpu_cores: 0.8008281904610115
          ram_gb: 6.027456183070403
      properties:
        include_metadata:
          type: boolean
        instance:
          $ref: "#/components/schemas/github_com_baselinehq_golang-shared_types.Instance"
        predicates:
          $ref: "#/components/schemas/types.Predicates"
        usage:
          $ref: "#/components/schemas/github_com_baselinehq_golang-shared_types.VM"
      type: object
    DatabasePrice:
      example:
        architecture: architecture
        availability_zone: availability_zone
        billing_config: billing_config
        capacity_unit: capacity_unit
        cost_per_capacity_unit: 0.8008281904610115
        cost_per_hour: 6.027456183070403
        cost_per_io_request: 1.4658129805029452
        cost_per_iops_hour: 5.962133916683182
        cost_per_storage_gb_hour: 5.637376656633329
        cost_per_throughput_mbps_hour: 2.3021358869347655
        cost_per_vcpu_license_hour: 7.061401241503109
        cpu_cores: 9.301444243932576
        cpu_cores_cost_per_hour: 3.616076749251911
        created_at: created_at
        currency: currency
        deployment_option: deployment_option
        edition: edition
        engine: engine
        id: id
        instance_type: instance_type
        max_iops: 2.027123023002322
        max_storage_gb: 4.145608029883936
        max_throughput_mbps: 7.386281948385884
        min_iops: 1.2315135367772556
        min_storage_gb: 1.0246457001441578
        min_throughput_mbps: 1.4894159098541704
        native_cost_per_hour: 6.84685269835264
        native_cost_per_storage_gb_hour: 7.457744773683766
        period_billing_hours: 1.1730742509559433
        provider: provider
        ram_gb: 4.965218492984954
        ram_gb_cost_per_hour: 5.025004791520295
        raw_pricing_data: "{}"
        region: region
        service: service
        storage_type: storage_type
        tags: "{}"
        updated_at: updated_at
        usage_type: usage_type
      properties:
        architecture:
          type: string
        availability_zone:
          type: string
        billing_config:
          type: string
        capacity_unit:
          type: string
        cost_per_capacity_unit:
          type: number
        cost_per_hour:
          type: number
        cost_per_io_request:
          type: number
        cost_per_iops_hour:
          type: number
        cost_per_storage_gb_hour:
          type: number
        cost_per_throughput_mbps_hour:
          type: number
        cost_per_vcpu_license_hour:
          type: number
        cpu_cores:
          type: number
        cpu_cores_cost_per_hour:
          type: number
        created_at:
          type: string
        currency:
          type: string
        deployment_option:
          type: string
        edition:
          type: string
        engine:
          type: string
        id:
          type: string
        instance_type:
          type: string
        max_iops:
          type: number
        max_storage_gb:
          type: number
        max_throughput_mbps:
          type: number
        min_iops:
          type: number
        min_storage_gb:
          type: number
        min_throughput_mbps:
          type: number
        native_cost_per_hour:
          type: number
        native_cost_per_storage_gb_hour:
          type: number
        period_billing_hours:
          type: number
        provider:
          type: string
        ram_gb:
          type: number
        ram_gb_cost_per_hour:
          type: number
        raw_pricing_data:
          properties: {}
          type: object
        region:
          type: string
        service:
          type: string
        storage_type:
          type: string
        tags:
          properties: {}
          type: object
        updated_at:
          type: string
        usage_type:
          type: string
      type: object
    DatabasePriceList:
      example:
        providers:
        - architecture: architecture
          availability_zone: availability_zone
          billing_config: billing_config
          capacity_unit: capacity_unit
          cost_per_capacity_unit: 0.8008281904610115
          cost_per_hour: 6.027456183070403
          cost_per_io_request: 1.4658129805029452
          cost_per_iops_hour: 5.962133916683182
          cost_per_storage_gb_hour: 5.637376656633329
          cost_per_throughput_mbps_hour: 2.3021358869347655
          cost_per_vcpu_license_hour: 7.061401241503109
          cpu_cores: 9.301444243932576
          cpu_cores_cost_per_hour: 3.616076749251911
          created_at: created_at
          currency: currency
          deployment_option: deployment_option
          edition: edition
          engine: engine
          id: id
          instance_type: instance_type
          max_iops: 2.027123023002322
          max_storage_gb: 4.145608029883936
          max_throughput_mbps: 7.386281948385884
          min_iops: 1.2315135367772556
          min_storage_gb: 1.0246457001441578
          min_throughput_mbps: 1.4894159098541704
          native_cost_per_hour: 6.84685269835264
          native_cost_per_storage_gb_hour: 7.457744773683766
          period_billing_hours: 1.1730742509559433
          provider: provider
          ram_gb: 4.965218492984954
          ram_gb_cost_per_hour: 5.025004791520295
          raw_pricing_data: "{}"
          region: region
          service: service
          storage_type: storage_type
          tags: "{}"
          updated_at: updated_at
          usage_type: usage_type
        - architecture: architecture
          availability_zone: availability_zone
          billing_config: billing_config
          capacity_unit: capacity_unit
          cost_per_capacity_unit: 0.8008281904610115
          cost_per_hour: 6.027456183070403
          cost_per_io_request: 1.4658129805029452
          cost_per_iops_hour: 5.962133916683182
          cost_per_storage_gb_hour: 5.637376656633329
          cost_per_throughput_mbps_hour: 2.3021358869347655
          cost_per_vcpu_license_hour: 7.061401241503109
          cpu_cores: 9.301444243932576
          cpu_cores_cost_per_hour: 3.616076749251911
          created_at: created_at
          currency: currency
          deployment_option: deployment_option
          edition: edition
          engine: engine
          id: id
          instance_type: instance_type
          max_iops: 2.027123023002322
          max_storage_gb: 4.145608029883936
          max_throughput_mbps: 7.386281948385884
          min_iops: 1.2315135367772556
          min_storage_gb: 1.0246457001441578
          min_throughput_mbps: 1.4894159098541704
          native_cost_per_hour: 6.84685269835264
          native_cost_per_storage_gb_hour: 7.457744773683766
          period_billing_hours: 1.1730742509559433
          provider: provider
          ram_gb: 4.965218492984954
          ram_gb_cost_per_hour: 5.025004791520295
          raw_pricing_data: "{}"
          region: region
          service: service
          storage_type: storage_type
          tags: "{}"
          updated_at: updated_at
          usage_type: usage_type
      properties:
        providers:
          items:
            $ref: "#/components/schemas/DatabasePrice"
          type: array
      type: object
    DatabasePricePage:
      example:
        data:
        - architecture: architecture
          availability_zone: availability_zone
          billing_config: billing_config
          capacity_unit: capacity_unit
          cost_per_capacity_unit: 0.8008281904610115
          cost_per_hour: 6.027456183070403
          cost_per_io_request: 1.4658129805029452
          cost_per_iops_hour: 5.962133916683182
          cost_per_storage_gb_hour: 5.637376656633329
          cost_per_throughput_mbps_hour: 2.3021358869347655
          cost_per_vcpu_license_hour: 7.061401241503109
          cpu_cores: 9.301444243932576
          cpu_cores_cost_per_hour: 3.616076749251911
          created_at: created_at
          currency: currency
          deployment_option: deployment_option
          edition: edition
          engine: engine
          id: id
          instance_type: instance_type
          max_iops: 2.027123023002322
          max_storage_gb: 4.145608029883936
          max_throughput_mbps: 7.386281948385884
          min_iops: 1.2315135367772556
          min_storage_gb: 1.0246457001441578
          min_throughput_mbps: 1.4894159098541704
          native_cost_per_hour: 6.84685269835264
[...]
